// colors
$sidebar-color: #2f2cd8;
$frames-color: #ffffff;
$big-writing-color: #1f2c73;
$small-writing-color: #7184ad;
$riseing-percentage-color: #12a347;
$falling-percentage-color: #dc2626;

// sizes
$page-titles-size: " size-6";
